header {
    display: flex;
    background-color: #7B481C;
    position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 80px;
     
  }
  
  .header-section {
    flex: 1 1 10%;
    margin: 10px;  
    margin-left: auto;
    margin-right: auto;
    
  }
  .header-section h1 {
    font-size: 1.2rem;
    margin-bottom: 15px;  
  }
  
  body {
    background-image: url(https://i.pinimg.com/736x/3c/61/ce/3c61ceb06b3fa7051a19031defb22bce.jpg);
    font-family: cursive;
    padding: 10px;
    padding-top: 80px;
    min-height: calc(100% - 50px);
  }
  
  h1 {
    font-size: 30px;
    margin-top: 10;
    margin-bottom: 15px;
  }
  h2 {
    font-size: 20px;
  }
  .established {
    font-style: cursive;
  }
  
  h1, h2, p {
    text-align: center;
  }
  .menu {
    width: 80%;
    background-color: #80461B;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  hr {
    height: 2px;
    background-color: black;
    border-color: black;
  }
  
  .bottom-line {
    margin-top: 20px;
  }
  
  h1, h2 {
    font-family: cursive;
  }
  
  .item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
  }
  
  .food, .lunch {
    text-align: left;
    width: 60%;
  }
  
  .price {
    text-align: right;
    width: 25%;
  }
  
  /* FOOTER */
  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #7B481C;
    height: 270px;
    width:100%;
    bottom:0;
    left:0;
    margin-top: 50px;
  }
  .footer-section {
    flex: 1 1 20%;
    margin: 10px; 
    
  }
  
  .footer-section h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .footer-section ul li {
    margin-bottom: 8px;
  }
  
  
   